<div id="post-{{ this.post.postId }}" class="post">
  <div class="post-header">
    <div class="post-author">
      {{#if isGroup}}
      <a href="/group/{{ this.author.groupId }}">
        <img
          class="post-author__user-avatar-img"
          src="{{ this.staticUrl }}/group-avatars/{{ this.author.avatar }}"
        />
      </a>
      {{else}}
      <a href="/profile/{{ this.author.userId }}">
        <img
          class="post-author__user-avatar-img"
          src="{{ this.staticUrl }}/user-avatars/{{ this.author.avatar }}"
        />
      </a>
      {{/if}}
      <div class="post-author-info">
        {{#if isGroup}}
        <a href="/group/{{ this.author.groupId }}">
          <span class="post-author__name-span">{{ this.author.name }}</span>
        </a>
        {{else}}
        <a href="/profile/{{ this.author.userId }}">
          <span class="post-author__name-span"
            >{{ this.author.firstName }} {{ this.author.lastName }}</span
          >
        </a>
        {{/if}}
        <div
          class="post-author-time"
          id="post-author-time-{{ this.post.postId }}"
        >
          <span class="post-author-time__created-at-span">
            {{ this.post.createdAt }}
          </span>
          {{#if this.hasUpdated}}
          <img class="post-author-time__dot-img" src="dist/images/dot.png" />
          <span
            class="post-author-time__last-time-span"
            id="edited-{{ this.post.postId }}"
          >
            {{ this.post.updatedAt }}
          </span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="post-menu" id="post-menu-{{ this.post.postId }}">
      {{#if isMe}}
      <img
        class="post-author__edit-img"
        id="edit-img-{{ this.post.postId }}"
        data-id="{{ this.post.postId }}"
        src="dist/images/edit.png"
      />
      <img
        class="post-author__trash-basket-img"
        id="trash-basket-{{ this.post.postId }}"
        data-id="{{ this.post.postId }}"
        src="dist/images/trash-can.png"
      />
      {{/if}}
    </div>
  </div>
  <div class="post-content" id="post-content-{{ this.post.postId }}">
    <textarea
      class="post-content__text-span"
      id="textarea-{{ this.post.postId }}"
      readonly
      >{{ this.post.content }}</textarea
    >
    {{#each this.post.attachments}}
    <img
      class="post-content__img"
      src="{{ ../staticUrl }}/post-attachments/{{ this }}"
    />
    {{/each}}
  </div>
  <div class="post-reaction">
    <div class="reactions">
      <button class="reactions-like">
        {{#unless this.post.isLikedByMe}}
        <img
          class="reactions__heart-img_unliked"
          data-id="{{ this.post.postId }}"
          src="dist/images/heart.png"
        />
        {{else}}
        <img
          class="reactions__heart-img_liked"
          data-id="{{ this.post.postId }}"
          src="dist/images/filled-heart.png"
        />
        {{/unless}}
      </button>
      <span class="likes-count__span">{{ this.post.likesCount }}</span>
      <button class="show-comments">
        <img
          class="show-comments__messenger-img"
          src="dist/images/messenger.png"
        />
      </button>
      <span class="show-comments-label__span"></span>
    </div>
  </div>
  <div class="post-give-comment">
    <div class="post-footer">
      <img
        class="post-author__user-avatar-img"
        src="{{ staticUrl }}/user-avatars/{{ avatar }}"
      />
      <input
        id="user-comment{{ this.post.postId }}"
        class="post-footer__input"
        type="text"
        name="user-comment"
        placeholder="Оставить комментарий"
        readonly
      />
    </div>
    <div class="comment-buttons">
      <img
        class="comment-buttons__paper-clip-img"
        src="dist/images/attach-paperclip-symbol.png"
      />
      <img class="post-comment-img" src="dist/images/send.png" />
    </div>
  </div>
</div>
