<div class="search-place">
  <div class="search-friend">
    <img
      class="search-friend__magnifier-img"
      src="../static/images/magnifying-glass.png"
    />
    <input
      class="search-friend__input"
      type="text"
      placeholder="Поиск"
      readonly
    />
  </div>
  <div class="search-buttons">
    <img
      class="search-buttons__menu-img"
      src="../static/images/menu.png"
    />
  </div>
</div>
<div class="right-sidebar-friends">
  {{#each rightSidebar}}
  <span>
    <a
      class="right-sidebar__a-{{ this.class }}"
      href="{{ this.href }}"
      class="{{ this.class }}"
      >{{ this.text }}</a
    >
  </span>
  {{/each}}
</div>
<div class="friends">
  {{#each subscriptions}}
  <div class="friends-field">
    <div class="friend" id="friend-{{ this.userId }}">
      <a href="/profile/{{ this.userId }}"
        ><img
          class="friend__avatar-img"
          src="{{ staticUrl }}/{{ this.avatar }}"
      /></a>
      <div class="friend-info">
        <span class="friend-info__name-span"
          >{{ this.firstName }} {{ this.lastName }}</span
        >
        <div class="friend-content">
          <span class="friend-content__date-of-birth-span">{{
            this.dateOfBirth
          }}</span>
        </div>
      </div>
    </div>
    <div class="friend-ables">
      <button type="button" class="friend-ables__button">
        Отписаться
      </button>
    </div>
  </div>
  {{/each}}
</div>
