<div class="form-wrapper">
  <div class="form">
    <div class="image-container">
      <img src="../static/images/Logo.png" width="124px" alt="Logo" />
    </div>
    <form class="login-form" action="/submit" method="POST">
      {{#each inputs}}
        <div class="input-group">
          <div class="error" id="{{this.incorrect}}"></div>
          <input
            type="{{this.type}}"
            id="{{this.id}}"
            name="{{this.name}}"
            placeholder="{{this.placeholder}}"
            required
          />
        </div>
      {{/each}}
      <button type="button" class="button-sign-in" id="button-sign-in">
        Sign in
      </button>
      <a href="/signup" class="link_sign_up" id="button-sign-up">Sign up</a>
    </form>
  </div>
</div>