<div class="form-wrapper">
  <div class="form">
    <div class="image-container-login-signup">
      <img src="../static/images/Logo.png" alt="Logo" class="image-container-login-signup__img" />
    </div>
    <div class="login-signup-text">
      <div class="login-signup-text__first-part">Войдите в</div>
      <div class="login-signup-text__second-part">Socio</div>
    </div>
    <form class="login-form" action="/submit" method="POST">
      <div class="error correct" id="incorrect-form-login">Некорректные данные</div>
      {{#each inputs}}
      <div class="input-group">
        <div class="inscription-form">
          {{ this.inscription }}
        </div>
        <input
          type="{{ this.type }}"
          id="{{ this.id }}"
          name="{{ this.name }}"
          placeholder="{{ this.placeholder }}"
          required
        />
        <div class="error correct" id="{{ this.incorrect }}">{{this.incorrectText}}</div>
        {{#if this.isPassword}}
        <div class="show-password" id="login-show-password">
          <img src="../static/images/close_eye.png" class="show-password-button">
        </div>
        {{/if}}
      </div>
      {{/each}}
      <button type="button" class="button-sign-in" id="button-sign-in">
        Войти
      </button>
      <a href="/signup" class="link_sign_up" id="button-sign-up"
        >Ещё нет аккаунта? Зарегистрироваться</a
      >
    </form>
  </div>
</div>
