<div id="profile-poster" class="profile-poster">
  <div class="profile-poster-view">
    <img
      class="profile-poster__avatar-img"
      src="{{ staticUrl }}/{{ this.avatar }}"
      alt="Your avatar"
    />
    <div class="profile-brief">
      <span class="profile-brief__name-span"
        >{{ this.firstName }} {{ this.lastName }}</span
      >
      <div class="profile-brief-info">
        <span class="profile-brief-info__date-span">{{
          this.dateOfBirth
        }}</span>
      </div>
    </div>
    {{#unless isMe}}
    <div class="subscribed-to-options">
      {{#unless isSubscribedTo}}
      <button
        type="button"
        class="subscribed-to-options__button-subscribe"
        id="subscribe-{{ this.userId }}"
      >
        {{#if isSubscriber}}
        Принять заявку в друзья
        {{else}}
        Подписаться
        {{/if}}
      </button>
      <button
        type="button"
        class="subscribed-to-options__button-subscribe-message"
        id="send-message-{{ this.userId }}"
      >
        <img
          src="dist/images/messenger.png"
          class="subscribed-to-options__img"
          alt="Message"
        />
      </button>
      {{else}}
      <button
        type="button"
        class="subscribed-to-options__button-unsubscribe"
        id="subscribe-{{ this.userId }}"
      >
        {{#if isSubscriber}}
        Удалить из друзей
        {{else}}
        Отписаться
        {{/if}}
      </button>
      <button
        type="button"
        class="subscribed-to-options__button-unsubscribe-message"
        id="send-message-{{ this.userId }}"
      >
        <img
          src="dist/images/messenger.png"
          class="subscribed-to-options__img"
          alt="Message"
        />
      </button>
      {{/unless}}
    </div>
    {{/unless}}
  </div>
  <div class="profile-wrapper">
    {{#if isMe}}
    <a href="/settings">
      <img
        class="profile-wrapper__settings-img"
        src="dist/images/setting.png"
        alt="Settings"
      />
    </a>
    {{/if}}
    <img class="profile-wrapper__back-img" src="dist/images/forest.jpg" />
  </div>
</div>
{{#if isMe}}
<div id="create-post" class="create-post">
  <div class="create-post-header">
    <div id="news-avatar" class="news-avatar">
      <a href="/profile/{{ this.userId }}"
        ><img
          id="user-avatar-news"
          class="news-avatar__img"
          src="{{ staticUrl }}/{{ this.avatar }}"
      /></a>
    </div>
    <div class="news">
      <span id="user-news-content" class="news__input"
        >Расскажите, что у вас нового</span
      >
      <button type="button" class="news__file-button" id="news__file-button">
        <img
          class="news__img"
          src="dist/images/attach-paperclip-symbol.png"
          id="news__img"
        />
      </button>
      <input
        type="file"
        class="news__file-input"
        id="news__file-input"
        accept="image/png, image/gif, image/jpeg, image/jpg, image/webp"
        multiple
      />
    </div>
    <button class="publish-button" type="button" id="publish-post-button">
      Опубликовать
    </button>
  </div>
  <div class="news-content">
    <textarea
      class="news-content__textarea"
      id="news-content__textarea"
      rows="1"
      placeholder="Что нового?"
    ></textarea>
    <div class="news-img-content" id="news-img-content"></div>
  </div>
</div>
{{/if}}
<div class="posts" id="posts"></div>
<div class="no-more-posts__hidden" id="no-more-posts">
  <span class="no-posts__span">Больше постов нет</span>
</div>
