<div class="conversation">
  <div class="companion">
    <div class="companion-header">
      <a href="/profile/{{ this.userId }}">
        {{#unless isMe}}
        <img
          class="companion__avatar-img"
          src="{{ staticUrl }}/user-avatars/{{ this.avatar }}"
        />
        {{else}}
        <img class="favorites-avatar__img" src="dist/images/folder.png" />
        {{/unless}}
      </a>
      <div class="companion-info">
        {{#unless isMe}}
        <span class="companion__name-span"
          >{{ this.firstName }} {{ this.lastName }}</span
        >
        <span class="companion__status-span">Online</span>
        {{else}}
        <span class="companion__name-span">Избранное</span>
        {{/unless}}
      </div>
    </div>
    <div class="go-back">
      <a href="/messenger" class="go-back__a"
        ><button type="button" class="go-back__button">К диалогам</button></a
      >
    </div>
  </div>
  <div class="messages" id="messages">
    <img
      class="sceleton-img"
      id="messages-sceleton"
      src="dist/images/loading.png"
    />
  </div>
  <div class="add-message" id="add-message">
    <div class="news__file-place" id="news__file-place">
      <button type="button" class="news__file-button" id="news__file-button">
        <img
          class="news__img"
          src="dist/images/attach-paperclip-symbol.png"
          id="news__img"
        />
        <input
          type="file"
          class="news-chat__file-input"
          id="news-chat__file-input"
          multiple
        />
      </button>
    </div>
    <div class="print-message" id="print-message">
      <textarea
        class="print-message__text-input"
        id="print-message__text-input"
        placeholder="Напишите сообщение..."
        autocomplete="off"
      ></textarea>
      <div class="message-menu" id="message-menu">
        <button
          type="button"
          class="message-menu__send-sticker-button"
          id="message-menu__send-sticker-button"
        >
          <img
            src="dist/images/stickers.png"
            class="message-menu__send-sticker-img"
          />
        </button>
        <button
          type="button"
          class="message-menu__send-button"
          id="message-menu__send-button"
        >
          <img class="message-menu__send-img" src="dist/images/send.png" />
        </button>
      </div>
    </div>
    <div
      class="sticker-message-place sticker-message-place_invisible"
      id="sticker-message-place"
    >
      <div class="sticker-message-place-header">
        <span
          class="sticker-message-place-header__span"
          id="all-message-sticker"
          >ВСЕ</span
        >
        <span class="sticker-message-place-header__span" id="my-message-sticker"
          >МОИ</span
        >
      </div>
      <div
        class="sticker-message-place-content"
        id="sticker-message-place-content"
      ></div>
      <div
        class="no-message-stickers no-message-stickers_invisible"
        id="no-message-stickers"
      >
        Стикеров нет
      </div>
      <div class="sticker-message-place-footer"></div>
    </div>
  </div>
  <div class="captured-images" id="captured-images"></div>
  <div class="captured-files" id="captured-files"></div>
</div>
