{{#each messages}}
{{#if this.changedDay }}
<div class="changed-day">
  <span class="changed-day__span">{{ this.changedDay }}</span>
</div>
{{/if}}
{{#if isMe}}
<div class="message-ables" data-timeCreated="{{ this.fullCreatedAt }}">
  {{#unless sticker}}
  <div class="message right-message" id="message-{{ this.id }}">
    {{#unless sticker}}
    <div class="message-content-div">
      <div class="message-content" id="message-content-{{ this.id }}">
        {{ this.content }}
      </div>
    </div>
    {{else}}
    <div class="sticker__item">
      <img
        src="{{../staticUrl}}/stickers/{{ sticker.fileName }}"
        class="sticker__img"
      />
    </div>
    {{/unless}}
    <div class="message-time-edited" id="message-time-edited-{{ this.id }}">
      <span class="message-time-edited__span-time">{{ this.createdAt }}</span>
      {{#if isUpdated}}
      <span
        class="message-time-edited__span-edited"
        id="message-edited-{{ this.id }}"
        >ред.</span
      >
      {{/if}}
    </div>
  </div>
  <div class="ables">
    {{#unless sticker}}
    <img
      class="message__edit-img"
      id="edit-img-{{ this.id }}"
      data-id="{{ this.id }}"
      src="dist/images/edit.png"
    />
    {{/unless}}
    <img
      class="message__trash-basket-img"
      id="trash-basket-{{ this.id }}"
      data-id="{{ this.id }}"
      src="dist/images/trash-can.png"
    />
  </div>
  {{else}}
  <div class="sticker-message right-message" id="message-{{ this.id }}">
    <div class="sticker__item">
      <img
        src="{{../staticUrl}}/stickers/{{ sticker.fileName }}"
        class="sticker__img"
      />
    </div>
    <div class="message-time-edited" id="message-time-edited-{{ this.id }}">
      <span class="message-time-edited__span-time">{{ this.createdAt }}</span>
      {{#if isUpdated}}
      <span
        class="message-time-edited__span-edited"
        id="message-edited-{{ this.id }}"
        >ред.</span
      >
      {{/if}}
    </div>
  </div>
  <div class="ables">
    <img
      class="message__trash-basket-img"
      id="trash-basket-{{ this.id }}"
      data-id="{{ this.id }}"
      src="dist/images/trash-can.png"
    />
  </div>
  {{/unless}}
</div>
{{else}}
<div class="message-ables" data-timeCreated="{{ this.fullCreatedAt }}">
  {{#unless sticker}}
  <div class="message left-message" id="message-{{ this.id }}">
    {{#unless sticker}}
    <div class="message-content-div">
      <div class="message-content" id="message-content-{{ this.id }}">
        {{ this.content }}
      </div>
    </div>
    {{else}}
    <div class="sticker__item">
      <img
        src="{{../staticUrl}}/stickers/{{ sticker.fileName }}"
        class="sticker__img"
      />
    </div>
    {{/unless}}
    <div class="message-time-edited" id="message-time-edited-{{ this.id }}">
      <span class="message-time-edited__span-time">{{ this.createdAt }}</span>
      {{#if this.isUpdated}}
      <span
        class="message-time-edited__span-edited"
        id="message-edited-{{ this.id }}"
        >ред.</span
      >
      {{/if}}
    </div>
  </div>
  {{else}}
  <div class="sticker-message left-message" id="message-{{ this.id }}">
    <div class="sticker__item">
      <img
        src="{{../staticUrl}}/stickers/{{ sticker.fileName }}"
        class="sticker__img"
      />
    </div>
    <div class="message-time-edited" id="message-time-edited-{{ this.id }}">
      <span class="message-time-edited__span-time">{{ this.createdAt }}</span>
      {{#if this.isUpdated}}
      <span
        class="message-time-edited__span-edited"
        id="message-edited-{{ this.id }}"
        >ред.</span
      >
      {{/if}}
    </div>
  </div>
  {{/unless}}
</div>
{{/if}}
{{/each}}
{{#if noMessages}}
<span class="messages__start-dialog-span" id="messages__start-dialog-span"
  >Начните диалог</span
>
{{/if}}
