{{#each messages}}
{{#if isMe}}
<div class="message-ables">
  <div class="ables">
    <img
      class="message__edit-img"
      id="edit-img-{{ this.id }}"
      data-id="{{ this.id }}"
      src="../static/images/edit.png"
    />
    <img
      class="message__trash-basket-img"
      id="trash-basket-{{ this.id }}"
      data-id="{{ this.id }}"
      src="../static/images/trash-can.png"
    />   
  </div>
  <div class="message right-message" id="message-{{ this.id }}">
    <div class="message-content">
      <span class="message-content" id="message-content-{{this.id}}">{{ this.content }}</span>
    </div>
    <div class="message-time-edited">
      <span class="message-time-edited__span-time">{{ this.createdAt }}</span>
      {{#if isUpdated}}
      <span class="message-time-edited__span-edited">Ред.</span>
      {{/if}}
    </div>
  </div>
</div>
{{else}}
<div class="message-ables">
  <div class="message left-message" id="message-{{ this.id }}">
    <div class="message-content">
      <span class="message-content">{{ this.content }}</span>
    </div>
    <div class="message-time-edited">
      <span class="message-time-edited__span-time">{{ this.createdAt }}</span>
      {{#if isUpdated}}
      <span class="message-time-edited__span-edited">Ред.</span>
      {{/if}}
    </div>
  </div>
</div>
{{/if}}
{{/each}}
{{#if noMessages}}
<span class="messages__start-dialog-span" id="messages__start-dialog-span"
  >Начните диалог</span
>
{{/if}}
