<div class="form-wrapper">
  <div class="form">
    <div class="image-container">
      <img src="../static/images/Logo.png" alt="Logo" />
    </div>
    <div class="sign-in-text">
      <div class="text-sign-in-first-part">Зарегистрируйтесь в</div>
      <div class="text-sign-in-second-part">Socio</div>
    </div>

    <div class="register-form">
      <form method="post" action="#" enctype="multipart/form-data" class="sign-up-form">
        <div id="repeat-email" class="error"></div>
        {{#each main_inputs}}
        <div class="input-group">
          <span class="inscription-form">
            {{ this.inscription }}
          </span>
          <input
            class="main-input"
            id="{{ this.id }}"
            type="{{ this.type }}"
            name="{{ this.name }}"
            placeholder="{{ this.placeholder }}"
            required
          />
          <div class="error correct" id="{{ this.incorrect }}">{{this.incorrectText}}</div>
        </div>
        {{/each}}
        <label for="date-birthday" class="inscription-form"
          >Дата рождения</label
        >

        <div class="date-birthday">
          {{#each part_of_date}}
          <input
            id="{{ this.id }}"
            type="text"
            required
            placeholder="{{ this.placeholder }}"
          />
          {{/each}}
        </div>
        <div class="error" id="incorrect-date-of-birthday"></div>
        <div class="inscription-form">
          Аватарка пользователя (необязательно)
        </div>
        <div class="file-input">
          <label class="input-avatar">
            <input type="file" name="avatar" id="avatar" />
            <span class="upload-image">Загрузить изображение</span>
          </label>
        </div>
        <button type="button" class="button-sign-in" id="button-sign-up">
          Зарегистрироваться
        </button>
        <a href="/login" class="link_sign_up" id="button-sign-in"
          >Уже есть аккаунт? Войти</a
        >
      </form>
    </div>
  </div>
</div>
