<div id="main" class="main">
  <div class="feed-main">
    <div class="activity">
      <div class="form">
        <div class="image-container-login-signup">
          <img
            src="dist/images/Logo.png"
            alt="Logo"
            class="image-container-login-signup__img"
          />
        </div>
        <div class="signup-text">
          <div class="signup-text__first-part">Зарегистрируйтесь в</div>
          <div class="signup-text__second-part">Socio</div>
        </div>

        <div class="register-form">
          <form
            method="post"
            action="#"
            enctype="multipart/form-data"
            class="sign-up-form"
          >
            <div
              id="server-error"
              class="form__input_error form__input_correct"
            >
              Неожиданная ошибка сервера
            </div>
            <div
              id="repeat-email"
              class="form__input_error form__input_correct"
            >
              Почта уже используется
            </div>
            {{#each main_inputs}}
            <div class="signup-input-group">
              <span class="inscription-form">
                {{ this.inscription }}
              </span>
              <input
                class="input-group__input"
                id="{{ this.id }}"
                type="{{ this.type }}"
                name="{{ this.name }}"
                placeholder="{{ this.placeholder }}"
                required
              />
              {{#if this.isPassword}}
              <div class="show-password" id="signup-show-{{ this.id }}">
                <img
                  src="dist/images/close_eye.png"
                  class="show-password__button"
                />
              </div>
              {{/if}}
              <div
                class="form__input_error form__input_correct"
                id="{{ this.incorrect }}"
              >
                {{ this.incorrectText }}
              </div>
            </div>
            {{/each}}
            <label for="date-birthday" class="inscription-form"
              >Дата рождения</label
            >
            <div class="date-birthday">
              <input
                class="date-birthday__input"
                id="date-birthday"
                type="date"
                max="2024-01-01"
                required
              />
            </div>
            <div
              class="form__input_error form__input_correct"
              id="incorrect-date-of-birthday"
            >
              Некорректная дата
            </div>
            <div class="inscription-form">
              Аватарка пользователя (необязательно)
            </div>
            <div class="avatar-prewatch">
              <div class="file-input">
                <label class="input-avatar">
                  <input
                    type="file"
                    name="avatar"
                    id="avatar"
                    class="input-avatar__file-input"
                    accept="image/png, image/gif, image/jpeg, image/jpg, image/webp"
                  />
                  <span class="input-avatar__span">Загрузить изображение</span>
                </label>
              </div>
              <img
                class="signup-avatar-prewatch"
                id="prewatch"
                src="dist/images/user.png"
              />
            </div>
            <div
              class="form__input_error form__input_correct"
              id="incorrect-avatar"
            >
              Недопустимый тип файла
            </div>
            <button type="button" class="button-sign-in" id="button-sign-up">
              Зарегистрироваться
            </button>
            <a href="/login" class="link-sign-up" id="button-sign-in"
              >Уже есть аккаунт? Войти</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
