<div class="go-to-group">
  <a href="/group/{{ groupId }}" class="go-to-group__href">
    <img class="go-to-group__img" src="dist/images/left-chevron.png" />
    <span class="go-to-group__span">Вернуться к группе</span>
  </a>
</div>
<div class="settings">
  <div class="setting">
    <div class="setting-info">
      <span class="setting__span">Имя группы</span>
      <input
        type="text"
        class="setting__input"
        value="{{ name }}"
        id="group-name"
      />
    </div>
    <div
      class="form__input_error form__input_correct"
      id="incorrect-group-name"
    >
      Некорректное имя
    </div>
    <div class="form__input_error form__input_correct" id="doubled-group-name">
      Такая группа уже существует
    </div>
  </div>
  <div class="setting">
    <div class="setting-info">
      <div class="setting-description-info">
        <span class="setting__span">Описание группы</span>
        <span class="setting__max-length-span"
          >Максимально количество символов: 100</span
        >
      </div>
      <textarea
        class="setting__textarea"
        id="description-group"
        value="{{ description }}"
        maxlength="100"
        >{{ description }}</textarea
      >
    </div>
    <div
      class="form__input_error form__input_correct"
      id="incorrect-description-group"
    >
      Описание группы необходимо
    </div>
  </div>
  <div class="avatar-setting">
    <div class="setting-info">
      <span class="setting__span">Выбрать фотографию группы</span>
      <div class="file-input">
        <label class="input-avatar-setting">
          <input
            class="input-avatar-setting__input"
            type="file"
            name="avatar"
            id="avatar"
            accept="image/png, image/gif, image/jpeg, image/jpg, image/webp"
          />
          <span class="input-avatar__span">Загрузить изображение </span>
        </label>
      </div>
      <img
        class="setting-avatar-prewatch"
        id="prewatch"
        src="{{ this.staticUrl }}/group-avatars/{{ avatar }}"
      />
    </div>
    <div class="form__input_error form__input_correct" id="incorrect-avatar">
      Недопустимый тип файла
    </div>
  </div>
  <div class="accept-setting">
    <button class="accept-setting__button" id="accept-setting">
      Сохранить
    </button>
    <button class="cancel-setting__button" id="cancel-setting">
      Отменить изменения
    </button>
  </div>
</div>
<div class="bad-actions">
  <button class="delete-setting__button" id="delete-setting">
    Удалить группу
  </button>
</div>
