<div class="main" id="main">
  <div class="server-error-500 error" id="server-error-500">
    Неожиданная ошибка
  </div>
  <div class="feed-main" id="feed-main">
    <div class="sidebar" id="sidebar">
      <ul class="sidebar-list">
        {{#each fullSidebar}}
        <a class="sidebar-list__a" href="{{ this.href }}">
          <li class="sidebar-list__li">
            <img
              src="dist/images/{{ this.icon }}.webp"
              class="sidebar__{{ this.icon }}-img"
            />
            <span class="sidebar-list__item-span">{{ this.text }}</span>
          </li>
        </a>
        {{/each}}
      </ul>
    </div>

    <div id="activity" class="activity"></div>
    <div class="post-main post-main_invisible" id="post-main"></div>
    <div class="scroller" id="scroller"></div>
  </div>
  <div class="toolbar" id="toolbar">
    <ul class="toolbar-list">
      {{#each toolbar}}
      <li class="toolbar-list__li">
        <a class="toolbar-list__a-img" href="{{ this.href }}">
          <img
            src="dist/images/{{ this.icon }}.webp"
            class="toolbar__{{ this.icon }}-img"
          />
        </a>
        <a class="toolbar-list__a" href="{{ this.href }}">{{ this.text }}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
