<div class="admin-info">
  <img src="{{ staticUrl }}/{{ elem.user.avatar }}" class="admin__avatar-img" />
  <span class="admin__name-span"
    >{{ elem.user.firstName }} {{ elem.user.lastName }}</span
  >
  <span class="admin__created-at-span"
    >Стал админом {{ elem.admin.createdAt }}</span
  >
</div>
<button
  type="button"
  data-id="{{ elem.admin.id }}"
  class="admin__delete-button"
>
  Снять права
</button>
