<div class="header" id="header">
  <div class="left-side">
    <a href="/feed/news"
      ><img
        id="left-side__img"
        class="left-side__img"
        src="dist/images/Logo.webp"
    /></a>
    {{#if needSearch}}
    <div class="search">
      <input class="search__input" type="text" placeholder="Поиск" readonly />
    </div>
    {{/if}}
  </div>
  <div class="user">
    {{#if haveNotifications}}
    <img class="user__notification-img" src="dist/images/text.webp" />
    {{/if}}
    <a href="/profile/{{ this.userId }}" class="user__username-href">
      <span id="user__username-span" class="user__username-span">
        {{ firstName }} {{ lastName }}
      </span>
    </a>
    <a href="/profile/{{ this.userId }}"
      ><img
        id="user__avatar-img"
        class="user__avatar-img"
        src="{{ staticUrl }}/user-avatars/{{ avatar }}"
    /></a>
  </div>
</div>
